.trådarcontainer {
    display: block;
    padding-bottom: 200px; /* så att footern blockerar */
}

.tråd {
    display: block; /* inte inline hihi */ 
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    display: block;
    text-decoration: none; /* tar bort underlinje */
    color: black; /* svart text */
}

.tråd:hover {
    background-color: lightgrey; /* så man ser när klicka man kan yäni */
    border: none;
}
