.artikelwrapper {
    max-width: 1000px; /* maxbredd, bra vidd */
    margin-left: 5vw;
}

.artikel {
    display: flex;
    flex-direction: column; /* staplar */
    margin-bottom: 40px;
}

.artikelbild {
    width: 100%; /* 100% bredd */
    height: auto; /* auto höjd */
    margin-bottom: 20px;
}

.artikelbild img {
    width: 100%; /* fyller */
    height: 100%; /* fyller */
    object-fit: cover; /* täcker, ingen konsig aspect ratio */
}
