.rustwrapper {
    max-width: 1000px;
    margin-left: 5vw;
}

.rustcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.bildcontainerrust {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.bildcontainerrust img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
